* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background: rgb(233, 233, 233);
  }

  .container {
    display: flex;
    width: 1200px;
    margin: auto;
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    height: 110vh;
    background: #fff;
  }

  .navbar {
    width: 80%;
    margin: 0 auto;
  }

  .logo {
    margin: 2rem 0 1rem 0;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 200px;
    height: 35px;
    border-radius: 0%;
  }

  .logo h1 {
    margin-left: 1rem;
    text-transform: uppercase;
  }

  ul {
    margin: 0 auto;
  }

  li {
    padding-bottom: 2rem;
  }

  li a {
    font-size: 16px;
    color: #103B75;
  }


  nav i {
    width: 50px;
    font-size: 18px;
    text-align: center;
  }

  .logout {
    position: absolute;
    bottom: 20px;
  }

  /* Main Section */
  .main {
    width: 100%;
  }

  .main-top {
    width: 100%;
    background: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(43, 43, 43);
  }

  .main-body {
    padding: 10px 10px 10px 20px;
  }

  h1 {
    margin: 20px 10px;
  }

  .search_bar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }

  .search_bar input {
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
  }

  .search_bar input:focus {
    border: 1px solid #103B75;
  }

  .search_bar select {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    margin-left: 2rem;
  }

  .search_bar .filter {
    width: 300px;
  }

  .tabel {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    margin-bottom: 15px;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    border-collapse: collapse;
    border-width: 10px;
  }
  .tabel .th{
    background-color: steelblue;
    color: white;
    height: 30px;
  }

  .tabel:active {
    border: 2px solid #103B75;
    transition: 0.4s;
  }

