@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    margin-left: 1px;
    max-width: 80px;
}
header ul
{
    position: relative;
    display: flex;
}
    header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;  
    color: #001B79;
    font-weight: 400;
    margin-left: 60px;
    text-decoration: none;
}
body{
    background-color: #c9d6ff;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.content{
    background-color: #fff;
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.content p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.content span{
    font-size: 12px;
}

.content a{
    color: #001B79;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.content button{
    background-color: #fff;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.content button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.content form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.content input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-content{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.content .textBox button {
    background-color: #004AAD;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.content .textBox button:hover {
    background-color: #2980b9;
}
form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}